name: Cypress Tests

on:
  push:
    branches:
      - test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    name: Test
    run: echo "Log message in GitHub action"

    # - name: Checkout code
    #   uses: actions/checkout@v2

    # - name: Install dependencies
    #   run: npm ci

    # - name: Run Test Mintmint
    #   run: npm run mintmint

    # - name: Run Cypress tests
    #   run: npx cypress run